#navbar {
  padding: 1rem 0;
}

#navbar > div {
  margin: auto 1rem;
}

.brand {
  display: flex;
}

.logo {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.title {
  color: royalblue;
  font-weight: 900;
}

#nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#link {
  font-weight: 600;
}

#link:hover {
  color: cornflowerblue;
}
